.enterLeft {
    animation: enterLeftAnimation;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    position: relative;
}

@keyframes enterLeftAnimation {
    from {
        right: 125px;
    }

    to {
        right: 0px;
    }
}

.fadeIn {
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    animation-duration: 0.25s;
    animation-timing-function: ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.radioList {
    list-style-type: none;
    margin-top: 1rem;
    padding-left: 0px;
    margin-left: 1rem;
}

    .radioList li {
        margin-bottom: 1.5rem
    }

.propertyGrid {
    display: grid;
    grid-column-gap: 0.5em;
    grid-template-columns: 1.5em auto;
    margin-bottom: 1.25rem;
    margin-left: 1.25em;
    margin-right: 1.25em;
    text-align: left;
    align-items: center;
    user-select: none;
}

button.propertyGrid {
    outline: none;
    box-shadow: none !important;
}

    button.propertyGrid:active {
        outline: none !important;
        background-color: ButtonFace;
    }

    button.propertyGrid:focus {
        outline: none !important;
    }

.propertyGrid input[type=text] {
    width: 100%;
    border: none !important ;
    outline: none;
    padding-left: 0px;
}

.propertyGrid input:focus {
    border: none;
    outline: none !important;
}

.propertyGrid elix-auto-size-textarea {
    width: 100%;
    outline:none;
}

elix-auto-size-textarea::part(textarea) {
    border: none;
    outline: none;
    padding-left:0px;
}

elix-auto-size-textarea::part(textarea):focus {
    border: none;
    outline: none;
}

input.hardComplete {
    text-decoration: line-through;
    text-decoration-color: #808080;
    border-color: transparent;
}

/* Could not get this to work on ios */
button.propertyGrid {
    background-color: transparent;
    padding-left: 0px;
    border: 0px;
}

ul.store-list {
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;
}

    ul.store-list li {
        margin-right:0.5rem; 
        text-decoration:line-through; 
        text-decoration-color:#808080; 
        display:inline-flex;
    }

.errorMessage {
    font-size: 80%;
    color: #dc3545;
    margin-top: .25rem;
}

.iconButton {
}

    .iconButton ion-icon {
        display: inline-block;
        vertical-align: bottom;
        height: 1.4em;
        font-size: 1.1em;
    }