@inherits LayoutComponentBase
@using Models
@using static Models.StateExtensions
@using GroceriesWasmApp.Client.Services

@if (StateService.State.LoggedInUserSettings().FontSize.IsLargeFontSize) {
    <style>
        body {
            font-size: larger;
        }
    </style>
}
<div class="top-row px-4 auth">
    <LoginDisplay />
    <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
</div>
<div class="container-fluid px-0">
    @Body
</div>

@code {
    [Inject]
    public StateService StateService { get; set; }
}