@page "/itemedit2"
@using Client.Data

@inject ApplicationStateService ApplicationState

<h1>Item edit page</h1>

<ItemEditor OnSave="@OnSave" Model="@itemEditorModel"></ItemEditor>

@code {

    protected DomainTypes.ItemEditorModel itemEditorModel;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        itemEditorModel = ItemEditorModel.create;
    }

    protected void OnSave(DomainTypes.ItemEditorModel msg)
    {
        var stateMsg = DomainTypes.StateMessage.NewInsertItem(msg);
        ApplicationState.State = global::State.update(stateMsg, ApplicationState.State);
    }
}
