@page "/shoppinglist"
@using Client.Data
 
@inject ApplicationStateService ApplicationState

<style>
</style>
<h1>Shopping list</h1>
@foreach (var i in View.Items)
{
    <ItemListItem Item="@i"></ItemListItem>
}

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        View = ApplicationState.State.ItemListView;
    }

    protected DomainTypes.ItemListView View { get; set; }
}
