@page "/shoppinglist"
@using Client.Data
@inject ApplicationStateService ApplicationState

<style>
</style>
<h1>Shopping list</h1>

@foreach (var i in items)
{
    <ItemListItem Item="@i"></ItemListItem>
}

@code {
    private IEnumerable<ViewModelTypes.ListItemViewModel> items;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        items =
            ApplicationState.State.Items.Select(i => ViewModelTypes.createListItemViewModel(i.Value));
    }
}
