@using Models
@foreach (var i in Models.FormattedTextModule.spans(Text)) {
    var className = i.Format.IsHighlight ? "highlighted" : "normal";
    if (Strikethrough) {
        className = $"{className} completed";
    }
    if (IsSmall) {
        <text><small class="@className">@i.Text</small></text>
    }
    else {
        <text><span class="@className">@i.Text</span></text>
    }
}

@code {
    [Parameter]
    public Models.ViewTypes.FormattedText Text { get; set; }

    [Parameter]
    public bool Strikethrough { get; set; } = false;

    [Parameter]
    public bool IsSmall { get; set; } = false;
}
