span.highlighted {
    background-color: yellow;
    border-width: 0px;
    padding: 0px;
    white-space: pre;
}

span.normal {
    border-width: 0px;
    padding: 0px;
    white-space: pre;
}

.completed {
    text-decoration: line-through
}
