.itemContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

    .itemContainer .iconColumn {
        width: 3rem;
        text-align: center;
    }

    .itemContainer ul {
        padding-left: 0;
        list-style-type: none;
        margin: 0;
        flex-wrap: wrap;
        flex-direction: row;
        flex-wrap:wrap;
    }

        .itemContainer ul li {
            display: inline-block;
            white-space: pre-wrap;
        }

    .itemContainer .highlight {
        background-color: yellow;
    }

    .itemContainer button {
        text-align: left;
        border: none;
        padding: 0.5rem;
        background-color: transparent;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        outline: none;
        box-shadow: none !important;
    }

        .itemContainer button:focus {
            outline: none !important;
        }

        .itemContainer button:active {
            outline: none !important;
            background-color: ButtonFace;
        }

    .itemContainer .badgeColumn {
        width: 6rem;
    }

        .itemContainer .badgeColumn > :first-child {
            border-radius: 5px;
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 6px;
            padding-right: 6px;
        }

.badgeColumn span {
    margin-left: 5px;
}

.itemContainer .activeBadge {
    background-color: green;
    color: white;
}

.itemContainer .soonBadge {
    background-color: #d77600;
    color: white;
}

.itemContainer .laterBadge {
    background-color: darkgray;
}

.properties {
    display: grid;
    grid-template-columns: 1rem auto;
    grid-column-gap: 0.4rem;
    grid-row-gap: 0.2rem;
}

    .properties ul.title {
        font-weight: bold;
        grid-column: 1/3;
    }

    .properties .quantity {
        grid-column: 1/3;
    }

    .properties .storesIcon {
        font-size: 18px;
        grid-column: 1/2;
    }

    .properties ul.storesContent {
        grid-column: 2/3;
        font-size: smaller;
    }

        .properties ul.storesContent > li {
            text-decoration: line-through;
            margin-right: 0.3rem;
        }

    .properties .noteIcon {
        font-size: 18px;
        grid-column: 1/2;
    }

    .properties .noteContent {
        grid-column: 2/3;
        line-height: 1.0;
        text-align: left;
        font-size: smaller;
    }

    .properties .frequencyIcon {
        grid-column: 1/2;
        font-size: 18px;
    }

    .properties .frequencyContent {
        grid-column: 2/3;
        font-size: smaller;
        align-items: center;
    }
