.itemContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

    .itemContainer .iconColumn {
        width: 3rem;
        text-align: center;
    }

    .itemContainer ul {
        padding-left: 0;
        list-style-type: none;
        margin: 0;
        flex-wrap: wrap;
        flex-direction: row;
        flex-wrap: wrap;
    }

        .itemContainer ul li {
            display: inline-block;
            white-space: pre-wrap;
        }

    .itemContainer .highlight {
        background-color: yellow;
    }

    .itemContainer button {
        text-align: left;
        border: none;
        padding: 0.5rem;
        background-color: transparent;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        outline: none;
        box-shadow: none !important;
    }

        .itemContainer button:focus {
            outline: none !important;
        }

        .itemContainer button:active {
            outline: none !important;
            background-color: ButtonFace;
        }

.myBadge {
    border-radius: 5px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 0.3rem;
    font-size: smaller;
}

    .myBadge ion-icon {
        font-size: 18px;
        margin-right: 3px;
    }

.itemContainer .soonBadge {
    background-color: #d77600;
    color: white;
}

.itemContainer .laterBadge {
    background-color: darkgray;
}

.properties {
    display: grid;
    grid-template-columns: 1rem auto;
    grid-column-gap: 0.4rem;
    grid-row-gap: 0.2rem;
}

    .properties.inactive {
        opacity: 0.6;
    }

    .properties .title {
        grid-column: 1/3;
        display: flex;
        flex-direction: row;
        align-content: center;
    }

        .properties .title ul {
            font-weight: bold;
        }

.completed li {
        text-decoration: line-through;
}

.properties .quantity {
    grid-column: 1/3;
}

.properties .storesIcon {
    font-size: 18px;
    grid-column: 1/2;
}

.properties ul.storesContent {
    grid-column: 2/3;
    font-size: smaller;
}

    .properties ul.storesContent > li {
        text-decoration: line-through;
        margin-right: 0.3rem;
        text-decoration-color: rgba(0, 0, 0, 0.75);
    }

.properties .noteIcon {
    font-size: 18px;
    grid-column: 1/2;
}

.properties .noteContent {
    grid-column: 2/3;
    line-height: 1.0;
    text-align: left;
    font-size: smaller;
}

.properties .frequencyIcon {
    grid-column: 1/2;
    font-size: 18px;
}

.properties .frequencyContent {
    grid-column: 2/3;
    font-size: smaller;
    align-items: center;
}
