@inherits LayoutComponentBase
@using Models
@using static Models.StateExtensions
@using WebApp.Services
 
@if (StateService.State.LoggedInUserSettings().FontSize.IsLargeFontSize) {
    <style>
        body {
            font-size:larger;
        }
    </style>
}
<div class="container-fluid px-0">
    @Body
</div>

@code {
    [Inject]
    public StateService StateService { get; set; }
}