@page "/"

<nav class="navbar navbar-dark bg-dark sticky-top">
    <div></div>
    <span class="navbar-text"></span>
    <div style="display:inline-flex">
        <LoginDisplay />
    </div>
</nav>
<div class="col" style="margin-top:1rem">
    <h5>About this web site</h5>
    <p>Manage your grocery list with this web site.</p>
    <p>Designed to be used with your smart phone.</p>
    <p>Share the list with everyone in your home.</p>
    <p>Organize things you need to buy by category, like "Produce" and "Dairy".</p>
    <p></p>
    <p><ion-icon name="bulb-outline"></ion-icon><strong>Tip &nbsp;</strong>If you are viewing this on an iPhone, you can install this web site on your iPhone home screen. Tap the Share button (at the bottom center of the browser) and then tap <strong>Add to Home Screen</strong></p>
    <p></p>
    <p><a class="btn btn-primary" href="families">Choose or create a shopping list</a></p>
</div>