@page "/"

<nav class="navbar navbar-dark bg-dark sticky-top">
    <div></div>
    <span class="navbar-text"></span>
    <div style="display:inline-flex">
        <LoginDisplay />
    </div>
</nav>
<div class="col" style="margin-top:1rem">
    <h5>Home</h5>
    <p>You can use this web site to <strong>manage your grocery list.</strong></p>
    <p>Organize items with categories like "Produce" and "Dairy".</p>
    <p>Share the list with other people in your home.</p>
    <p>This is designed to be used on your smart phone; your list is always available and can be used at the grocery store.</p>
    <p></p>
    <p><ion-icon name="bulb-outline"></ion-icon>Tip &nbsp;If you are viewing this on an iPhone, you can install this web site as an "app" on your iPhone home screen. Tap the Share button (at the bottom center of the browser) and then tap <strong>Add to Home Screen</strong></p>
    <p></p>
    <p><a class="btn btn-primary" href="families">Continue</a></p>
</div>