@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
    --color: black;
    --disabled: #959495;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.checkbox {
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 0.5em;
    color: var(--color);
}

.checkbox--disabled {
    color: var(--disabled);
}

.checkbox__control {
    display: inline-grid;
    width: 1em;
    height: 1em;
    border-radius: 0.25em;
    border: 0.1em solid currentColor;
}

    .checkbox__control svg {
        transition: transform 0.1s ease-in 20ms;
        transform: scale(0);
        transform-origin: center center;
    }

.checkbox__input {
    display: grid;
    grid-template-areas: "checkbox";
}

    .checkbox__input > * {
        grid-area: checkbox;
    }

    .checkbox__input input {
        opacity: 0;
        width: 1em;
        height: 1em;
    }

        .checkbox__input input:focus + .checkbox__control {
            box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor;
        }

        .checkbox__input input:checked + .checkbox__control svg {
            transform: scale(1.3);
        }

        .checkbox__input input:disabled + .checkbox__control {
            color: var(--disabled);
        }

.checkbox__label {
    line-height: 1;
}

.radio {
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 0.5em;
    color: var(--color);
}

.radio--disabled {
    color: var(--disabled);
}

.radio__control {
    display: inline-grid;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 0.1em solid currentColor;
}

    .radio__control svg {
        transition: transform 0.1s ease-in 20ms;
        transform: scale(0);
        transform-origin: center center;
    }

.radio__input {
    display: grid;
    grid-template-areas: "radio";
}

    .radio__input > * {
        grid-area: radio;
    }

    .radio__input input {
        opacity: 0;
        width: 1em;
        height: 1em;
    }

        .radio__input input:focus + .radio__control {
            box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor;
        }

        .radio__input input:checked + .radio__control svg {
            transform: scale(1.3);
        }

        .radio__input input:disabled + .radio__control {
            color: var(--disabled);
        }

.radio__label {
    line-height: 1;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.plainMenu {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

    .plainMenu button {
        border: none;
        padding: 0.5rem;
        background-color: white;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        outline: none;
        box-shadow: none !important;
    }

        .plainMenu button:focus {
            outline: none !important;
        }

        .plainMenu button:active {
            outline: none !important;
            background-color: ButtonFace;
        }

.drawerButton {
    border: none;
    padding: 0.5rem;
    border-top: 1px solid #d6d6d6;
    background-color: white;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

    .drawerButton:active {
        background-color: ButtonFace;
    }

    .drawerButton:last-of-type {
        border-bottom: 1px solid #d6d6d6;
    }

    .drawerButton.selected {
        color: #0055b1;
        font-weight: bold;
    }

.buttonDrawer {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

    .buttonDrawer .threeColumnHeader {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        align-items: center;
    }

        .buttonDrawer .threeColumnHeader :last-child {
            justify-self: flex-end;
        }

        .buttonDrawer .threeColumnHeader > h1 {
            font-size: 1rem;
            font-weight: bold;
            text-align: center;
            margin-bottom: 0px;
        }

        .buttonDrawer .threeColumnHeader button {
            background-color: white;
            border: none;
        }

            .buttonDrawer .threeColumnHeader button:active {
                background-color: ButtonFace;
            }

    .buttonDrawer button:focus {
        outline: none;
    }

    .buttonDrawer > h1 {
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        margin-top: 0.5rem;
    }

    .buttonDrawer ion-icon {
        vertical-align: bottom;
        font-size: 24px;
    }

    .buttonDrawer header {
        margin-top:0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .buttonDrawer > header {
        margin-bottom: 0.5rem;
    }

        .buttonDrawer header h1 {
            font-weight: bold;
            font-size: 1rem;
            line-height: 1;
            padding-bottom: 0;
        }

        .buttonDrawer header * {
            margin-bottom: 0;
            text-align: center;
        }

.primaryDrawerButton {
    background-color: white;
    padding: 8px;
    margin: 4px;
    border-radius: 3px;
}

    .primaryDrawerButton ion-icon {
        vertical-align: bottom;
    }

.itemButton {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

    .itemButton:active {
        background-color: ButtonFace;
    }

.drawer {
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
    padding: 15px;
}

    .drawer button > ion-icon {
        vertical-align: bottom;
        margin-right: 1em;
    }

    .drawer button:active {
        background-color: ButtonFace;
    }

    .drawer button > ion-icon {
        margin-right: 0;
        padding-right: 0.2em;
        padding-left: 0.2em;
    }

    .drawer button {
        padding-top: 0.75em;
        padding-bottom: 0.75em;
        background-color: white;
        border: 1px solid #d4d4d4;
        border-radius: 5px;
        box-shadow: none !important;
    }

        .drawer button:focus {
            outline: none !important;
        }

        .drawer button:active {
            outline: none !important;
            background-color: ButtonFace;
        }

    .drawer header {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5em;
    }

        .drawer header * {
            text-align: center;
        }

        .drawer header :nth-child(3) {
            justify-self: flex-end;
        }

        .drawer header :first-child {
            justify-self: flex-start;
        }

        .drawer header h1 {
            font-size: 1em;
            font-weight: bold;
            padding-top: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .drawer header p {
            margin-top: 0px;
        }

        .drawer header p {
        }

        .drawer header button {
            background-color: transparent;
            border: none;
        }

    .drawer .buttonGroup {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }

        .drawer .buttonGroup > * {
            margin-top: 0.25em;
            margin-bottom: 0.25em;
        }

    .drawer header + .buttonGroup {
        margin-top: 0px;
    }

    .drawer .buttonRow {
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }

        .drawer .buttonRow button {
            flex-grow: 1;
            margin-right: 0.5em;
        }

            .drawer .buttonRow button:last-child {
                margin-right: 0;
            }

        .drawer .buttonRow .splitButtonDefault {
            margin-right: 0;
            border-radius: 5px 0px 0px 5px;
        }

        .drawer .buttonRow .splitButtonIcon {
            margin-right: 0;
            border-left: 0;
            flex-grow: 0;
            border-radius: 0px 5px 5px 0px;
        }

    .drawer .justIconButton {
        max-width: fit-content;
    }

.crossed-out-content {
    position: relative;
}

    .crossed-out-content .svg-container {
        display: inline-flex;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

.diagonal {
    width: 100%;
    height: 100%;
}

    .diagonal line {
        stroke: rgba(255, 0, 0, 0.55);
        stroke-width: 2;
        stroke-linecap: round;
    }

.bounce-top {
    -webkit-animation: bounce-top .6s both;
    animation: bounce-top .6s both
}

/* ----------------------------------------------
 * Generated by Animista on 2020-12-26 14:44:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes bounce-top {
    0% {
        -webkit-transform: translateY(-45px);
        transform: translateY(-45px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1
    }

    24% {
        opacity: 1
    }

    40% {
        -webkit-transform: translateY(-24px);
        transform: translateY(-24px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    65% {
        -webkit-transform: translateY(-12px);
        transform: translateY(-12px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    82% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    93% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    25%,55%,75%,87% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1
    }
}

@keyframes bounce-top {
    0% {
        -webkit-transform: translateY(-45px);
        transform: translateY(-45px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1
    }

    24% {
        opacity: 1
    }

    40% {
        -webkit-transform: translateY(-24px);
        transform: translateY(-24px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    65% {
        -webkit-transform: translateY(-12px);
        transform: translateY(-12px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    82% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    93% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    25%,55%,75%,87% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1
    }
}

.jello-horizontal {
    -webkit-animation: jello-horizontal 0.6s both;
    animation: jello-horizontal 0.6s both
}

/* ----------------------------------------------
 * Generated by Animista on 2020-12-25 16:31:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1)
    }

    30% {
        -webkit-transform: scale3d(1.25,.75,1);
        transform: scale3d(1.25,.75,1)
    }

    40% {
        -webkit-transform: scale3d(.75,1.25,1);
        transform: scale3d(.75,1.25,1)
    }

    50% {
        -webkit-transform: scale3d(1.15,.85,1);
        transform: scale3d(1.15,.85,1)
    }

    65% {
        -webkit-transform: scale3d(.95,1.05,1);
        transform: scale3d(.95,1.05,1)
    }

    75% {
        -webkit-transform: scale3d(1.05,.95,1);
        transform: scale3d(1.05,.95,1)
    }

    100% {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1)
    }
}

@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1)
    }

    30% {
        -webkit-transform: scale3d(1.25,.75,1);
        transform: scale3d(1.25,.75,1)
    }

    40% {
        -webkit-transform: scale3d(.75,1.25,1);
        transform: scale3d(.75,1.25,1)
    }

    50% {
        -webkit-transform: scale3d(1.15,.85,1);
        transform: scale3d(1.15,.85,1)
    }

    65% {
        -webkit-transform: scale3d(.95,1.05,1);
        transform: scale3d(.95,1.05,1)
    }

    75% {
        -webkit-transform: scale3d(1.05,.95,1);
        transform: scale3d(1.05,.95,1)
    }

    100% {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1)
    }
}

.fade-in-right {
    -webkit-animation: fade-in-right 0.3s cubic-bezier(.39,.575,.565,1.000) both;
    animation: fade-in-right 0.3s cubic-bezier(.39,.575,.565,1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-12-26 19:48:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes fade-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes fade-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}