@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
    --color: rebeccapurple;
    --disabled: #959495;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.checkbox {
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 0.5em;
    color: var(--color);
}

.checkbox--disabled {
    color: var(--disabled);
}

.checkbox__control {
    display: inline-grid;
    width: 1em;
    height: 1em;
    border-radius: 0.25em;
    border: 0.1em solid currentColor;
}

    .checkbox__control svg {
        transition: transform 0.1s ease-in 20ms;
        transform: scale(0);
        transform-origin: center center;
    }

.checkbox__input {
    display: grid;
    grid-template-areas: "checkbox";
}

    .checkbox__input > * {
        grid-area: checkbox;
    }

    .checkbox__input input {
        opacity: 0;
        width: 1em;
        height: 1em;
    }

        .checkbox__input input:focus + .checkbox__control {
            box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor;
        }

        .checkbox__input input:checked + .checkbox__control svg {
            transform: scale(1.25);
        }

        .checkbox__input input:disabled + .checkbox__control {
            color: var(--disabled);
        }

.checkbox__label {
    line-height: 1;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
