@page "/experiment"

<style>
    dom-flip {
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        margin-top:30px;
    }

    .list-item {
        background-color: lightblue;
        border: 1px solid black;
        margin: 10px;
        padding: 5px;
        width: fit-content;
    }
</style>

<h1>Flipper</h1>

<input type="text" @bind-value="@NewItemToInsert" @bind-value:event="oninput" />
<button @onclick="_=>InsertAtBeginning()">Insert</button>
<button @onclick="_=>Items.RemoveAt(0)">Delete first</button>
<button @onclick="_ => Shuffle(Items)">Shuffle</button>

<dom-flip>
    @foreach (var i in Items)
    {
        <div class="list-item" data-flip-id="@i">@i</div>
    }
</dom-flip>

@code {
    private Random rng = new Random();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Items = new List<string> { "Apple", "Banana", "Pear", "Pineapple", "Grapefruit", "Pomegrante", "Orange", "Kiwi", "Mandarin", "Chestnut" };
    }

    public List<string> Items { get; private set; }

    public string NewItemToInsert { get; set; }

    public void InsertAtBeginning()
    {
        Items.Insert(0, NewItemToInsert);
        NewItemToInsert = "";
    }

    public void Shuffle<T>(IList<T> list)
    {
        int n = list.Count;
        while (n > 1)
        {
            n--;
            int k = rng.Next(n + 1);
            T value = list[k];
            list[k] = list[n];
            list[n] = value;
        }
    }
}