@page "/"
<h1>Groceries</h1>
<a href="shoppinglist">Shopping list</a>
<hr />
<ElixMenuButton OnMenuItemSelected="MenuSelected" OnOpenedChange="MenuOpenedChange">
        <Content>
            <elix-menu-item id="a">A</elix-menu-item>
            <elix-menu-item id="b">B</elix-menu-item>
            <elix-menu-item id="c">C</elix-menu-item>
        </Content>
    </ElixMenuButton>
<hr />
<button @onclick="OpenDialog">open dialog!</button>

<ElixDialog @bind-IsOpen="@IsOpen">
    <Content>
        <p>Save changes?</p>
        <button @onclick="CloseDialog">Ok</button>
        <button @onclick="CloseDialog">Cancel</button>
    </Content>
</ElixDialog>

@code {
    private bool _isOpen;

    public void OpenDialog(MouseEventArgs e) {
        IsOpen = true;
    }

    public void CloseDialog(MouseEventArgs e) {
        IsOpen = false;
    }

    public bool IsOpen
    {
        get { return _isOpen; }
        set
        {
            if (_isOpen != value) {
                _isOpen = value;
            }
        }
    }

    public void MenuSelected(string id) {
        System.Diagnostics.Debug.WriteLine(id);
    }

    public void MenuOpenedChange(bool isOpened) {
        System.Diagnostics.Debug.WriteLine(isOpened);
    }
}