@page "/"
@using System.Reactive.Linq;
@using Models
@using static Models.ShoppingListSettingsModule

<nav class="navbar navbar-dark bg-dark sticky-top">
    <div>
    <img src="img/watermelon32.png"/>
    <span class="navbar-text">Groceries</span>
    </div>
    <SyncButton />
</nav>
<style>
    ul {
        padding-left: 0px;
        list-style-type: none;
    }
    li {
        margin-bottom:1rem;
    }

</style>
<div class="col">
    <ul style="margin-top:1rem">
        <li><a href="/shoppinglist">Shopping list</a></li>
        <li><a href="/categories">Manage categories</a></li>
        <li><a href="/stores">Manage stores</a></li>
    </ul>
</div>
@code {
}
