@page "/"
<nav class="navbar navbar-dark bg-dark sticky-top">
    <span class="navbar-text">Groceries</span>
    <button class="btn btn-primary">abc</button>
</nav>
<style>
</style>
<div class="col">
    <h5>Plan</h5>
    <h5>Shop</h5>
    <hr />
    <a href="/shoppinglist">Shopping list</a>
</div>
@code {
}
