@page "/"
@using Models
@using static Models.ShoppingListSettingsModule
@using WebApp.Services

<nav class="navbar navbar-dark bg-dark sticky-top">
    <div>
    <img src="img/watermelon32.png"/>
    <span class="navbar-text">Groceries</span>
    </div>
    <SyncButton />
</nav>
<style>
    ul {
        padding-left: 0px;
        list-style-type: none;
    }
    li {
        margin-bottom:1rem;
    }
</style>
<div @key="StateService.State.LoggedInUserSettings().FontSize" class="col">
    <ul style="margin-top:1rem">
        <li><a href="/shoppinglist">Shopping list</a></li>
        <li><a href="/categories">Manage categories</a></li>
        <li><a href="/stores">Manage stores</a></li>
    </ul>
    <div style="margin-top:2rem;margin-bottom:1rem">Settings</div>
    <Checkbox IsChecked="StateService.State.LoggedInUserSettings().FontSize.IsLargeFontSize" Title="Larger text" IsCheckedChanged="SetLargerFontSize"/>
    
</div>
@code {
    [Inject]
    public StateService StateService { get; set; }

    public async Task SetLargerFontSize(bool isLargeFont) {
        var settingsMessage = UserSettingsModule.Message.NewSetFontSize(isLargeFont ? CoreTypes.FontSize.LargeFontSize : CoreTypes.FontSize.NormalFontSize);
        var stateMessage = StateTypes.StateMessage.NewUserSettingsMessage(settingsMessage);
        await StateService.UpdateAsync(stateMessage);
    }
}
