@page "/itemedit2"
@using Common
@using Microsoft.FSharp.Core;
@using Models; 
@using static Models.ItemForm; 

@if(Form.ItemId.IsSome()) {
    <h1>Edit item</h1>
}
else {
    <h1>New item</h1>
}
<ItemEditForm OnClickOkCallback="@OnClickOk" Form="@Form"></ItemEditForm>
