@page "/shoppinglist"
@using Models

@inject Data.ApplicationStateService StateService

<h1>ShoppingList</h1>
@foreach (var i in ShoppingListView.Items) {
    <WebApp.Shared.Item View="@i"/>
    <p>@*<FormattedText Text="@i.ItemName" />*@</p>
}
@code {
    IDisposable _subscription = null;

    protected override void OnInitialized() {
        base.OnInitialized();
        _subscription =
            StateService
            .ShoppingListView.Subscribe(s => { ShoppingListView = s; });
    }

    protected ViewTypes.ShoppingList ShoppingListView { get; private set; }

    public void Dispose() =>
        _subscription?.Dispose();
}
