@page "/shoppinglist"
@using Models

@inject Data.ApplicationStateService StateService

<h1>ShoppingList</h1>
@foreach (var i in ShoppingListView.Items) {
    <WebApp.Shared.Item OnClickDelete="OnClickDelete" View="@i"/>
}
@code {
    IDisposable _subscription = null;

    private void OnClickDelete(Models.StateTypes.ItemId itemId) {
        StateService.Update(StateTypes.StateMessage.DeleteItem.NewDeleteItem(itemId));
    }

    protected override void OnInitialized() {
        base.OnInitialized();
        _subscription =
            StateService
            .ShoppingListView.Subscribe(s => { ShoppingListView = s; });
    }

    protected ViewTypes.ShoppingList ShoppingListView { get; private set; }

    public void Dispose() =>
        _subscription?.Dispose();
}
