@page "/sync"
@using Models
@using Common
@using Microsoft.FSharp.Core;

<h1>Synchronization</h1>

@if (IsReady) {
    <button type="button" class="btn btn-outline-primary" @onclick="@(async () => await ResetToEmpty())">Clear database</button>
    <button type="button" class="btn btn-outline-primary" @onclick="@(async () => await QueryItemsAsync())">Query</button>
    <button type="button" class="btn btn-outline-primary" @onclick="@(async () => await PushAsync())">Push</button>
    <hr />
    <a href="https://localhost:8081/_explorer/index.html" target="_blank">Open data explorer</a>
}

@if (StatusMessage != "") {
    <br />
    <br />
    <p>@StatusMessage</p>
}